# Config file with API keys
js/config.js

# Dev notes
LOCAL_STORAGE_SCHEMA.md

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Misc
.cache/
